<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @vote.number %>
</p>

<p>
  <strong>District:</strong>
  <%= @vote.district %>
</p>

<p>
  <strong>Committee:</strong>
  <%= @vote.committee %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
